<main>
    <header>
        <h1><%= @label %></h1>
        <p class="header-detail"><%= @lat %>N, <%= @lon %>E</p>
    </header>

    <%= react_component('Forecast', lat: @lat, lon: @lon, label: @label, forecastApi: @forecast_api) %>
</main>

<aside>
    <p class="credit">
        <a href="http://forecast.io/">Powered by Forecast.IO</a>
        <a href="http://erikflowers.github.io/weather-icons/">Weather icons by Erik Flowers</a>
    </p>
</aside>
